<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">

    <!-- SEO & Social Metadata -->
    {{ partial "opengraph.html" . }}
    {{ partial "twitter_cards.html" . }}

    <!-- Enable Google Analytics -->
    {{ if .Site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.googleAnalytics }}');
    </script>
    {{ end }}

    <!-- Local Styles -->
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">

    <!-- Site Title -->
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ end }}{{ end }}">

</head>
