{{ $desc := .Site.Params.description }}
{{ with .Description }}{{ $desc = . }}{{ end }}
{{ if and .IsPage (not .Description) }}{{ with .Params.summary }}{{ $desc = . }}{{ else }}{{ with .Summary }}{{ $desc = . | plainify | truncate 160 }}{{ end }}{{ end }}{{ end }}

{{ $title := .Title }}
{{ if .IsHome }}{{ $title = print .Site.Title " — Digital Garden by Hrishikesh Bhaskaran" }}{{ end }}

{{ $img := "https://stultus.in/img/hrishikesh_bhaskaran-bnw.png" }}
{{ with .Params.images }}{{ range first 1 . }}{{ $img = . | absURL }}{{ end }}{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@_stultus" />
<meta name="twitter:creator" content="@_stultus" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $desc }}" />
<meta name="twitter:image" content="{{ $img }}" />
<meta name="twitter:image:alt" content="Hrishikesh Bhaskaran" />
